**.webler_temp
**.webler_tmp
node_modules
tests/**/tests_results
tests/massive_tests/Simple App/release
tests/massive_tests/Simple App/development
npm-debug.log
tsconfig.json
/lib
packages/weble
_references.js
