@section styles{
  <link type="text/css" rel="stylesheet" href="~/Home/Index/css/index.css" />
}

@section scripts {
  <script type="text/javascript" src="~/Home/Index/index.js"></script>
}

<!-- components:
  import my-tag;
  import nested;
-->

<my-tag>
  This is a custom tag
</my-tag>

<nested-tag>
  <span class="label">Index.html</span>
  <span class="description">Description</span>
</nested-tag>
