<!DOCTYPE html>
<html>

<body>

	<head>
		<style type="text/css">
			.a-default-class-in-layout {}
		</style>
		{{#block "styles"}}{{/block}}
		<title>{{title}}</title>
	</head>
	{{#block "body"}}{{/block}} {{#block "scripts"}}{{/block}}
</body>

</html>
