{{#extend "default" title="Title test 2"}}
	{{#content "styles"}}
		<link type="text/css" rel="sylesheet" href="index.css" />
	{{/content}}

	{{#content "scripts"}}
		<script type="text/javascript" src="index.js"></script>
	{{/content}}

	{{#content "body"}}
		<div>Test 2</div>
	{{/content}}

{{/extend}}
