<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" /> @RenderSection("styles",false)
  @RenderSection("styles",false)
</head>

<body>
  <!-- markdown: -->
  ```html
  <div>Some Markdown at layout</div>
  ```
  <!-- /markdown -->

  @RenderBody() @RenderSection("scripts",false)
</body>

</html>
