<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" /> @RenderSection("styles",false)
  <link type="text/css" rel="stylesheet" href="~/assets/css/site.css" />
  @RenderSection("styles",false)
</head>

<body>
  <!-- markdown: -->
  ```html
  <div>Some Markdown at layout</div>
  ```
  <!-- /markdown -->

  @RenderBody()
  <script type="text/javascript" src="~/assets/js/commonAsset.js"></script>
  @RenderSection("scripts",false)
</body>

</html>
