<!--components:
	import simple-component;
	import simple-component2;
	import simple-component3;
-->
<!DOCTYPE html>
<html>

<body>
	<simple-component>
		<h1>Say hello to a new World</h1>
		<h1>Say hello to a new World after that one</h1>
		this will be placed inside content
	</simple-component>

	<simple-component2>
		<h1>Say hello to a new World2</h1>
		<h1>Say hello to a new World after that one2</h1>
		this will be placed inside content2
	</simple-component2>

	<simple-component3>
		<h1>Say hello to a new World3</h1>
		<h1>Say hello to a new World after that one3</h1>
		this will be placed inside content3

		<simple-component>
			<h1>Say hello to a new World</h1>
			<h1>Say hello to a new World after that one</h1>
			this will be placed inside content
		</simple-component>

		<simple-component2>
			<h1>Say hello to a new World2</h1>
			<h1>Say hello to a new World after that one2</h1>
			this will be placed inside content2
		</simple-component2>
	</simple-component3>
</body>

</html>
